.App {
    /* border: 2px black dashed; */
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.sidebar {
    /* border: 2px rgb(207, 159, 26) dashed; */
    z-index: 2;
}

.container {
    /* border: 2px rgb(200, 27, 27) dashed; */
    width: 100%;
    background-color: aliceblue;
    transition: filter 500ms;
}

.header {
    /* border: 2px rgb(26, 8, 138) dashed; */
}

.content {
    /* border: 2px rgb(8, 148, 34) dashed; */
    height: 100%;
}